.entry-slider-section {
    margin-bottom: 5.75rem;
    .entry-slider {
        --swiper-navigation-color: #fff;
        --swiper-pagination-color: #fff;
        .swiper-slide {
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;
            .slide-image {
                position: relative;
                aspect-ratio: 2/1.21;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(90deg, #0B0B0B 0%, rgba(11, 11, 11, 0.0001) 100%);
                    opacity: 0.6;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .slide-content {
                .blog-btn {
                    display: inline-flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.75rem;
                    font-weight: 600;
                    padding: 0.5rem 0.75rem;
                }
            }
        }
    }
    .entry-slider-thumbs {
        overflow: hidden;
        margin-left: calc(var(--bs-gutter-x) * -0.5);
        margin-right: calc(var(--bs-gutter-x) * -0.5);
        .thumb-item {
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            border-radius: 1rem;
            padding: 0.75rem;
            margin-bottom: 0.3rem;
            transition: background-color 0.3s ease;
            img {
                width: 5.25rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 0.5rem;
            }
            span {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        .swiper-slide-thumb-active {
            .thumb-item {
                background-color: rgba(var(--bs-white-rgb), 0.08);
            }
        }
    }
}

.blog-item {
    margin-bottom: 0.75rem;
    .blog-date {
        flex-shrink: 0;
        width: 100px;
        &-bar {
            border-left: 1px solid rgba(217, 217, 217, 0.25);
        }
        @media (max-width: 991px) {
            width: 70px;
        }
    }
    &-inner {
        gap: 1.5rem;
        padding-bottom: 1.25rem;
        transition: all 0.2s ease-in-out;
        .blog-item-image {
            flex-shrink: 0;
            width: 31%;
            img {
                height: auto;
                aspect-ratio: 3/1.70;
                border-radius: .50rem;
                object-fit: cover;
            }
        }
        .blog-item-content {
            .blog-item-tags {
                gap: 4px;
                a {
                    transition: color 0.2s ease;
                    &:hover {
                        color: #fff !important;
                    }
                    &::before {
                        content: '#';
                    }
                    &::after {
                        content: ',';
                    }
                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }
                }
            }
            .blog-item-title {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .blog-author-name {
                transition: color 0.2s ease;
                &:hover {
                    color: #fff !important;
                }
            }
        }
    }
    &:hover {
        .blog-item-inner {
            transform: translateX(1rem);
        }
    }
}

.sidebar-blog-item {
    position: relative;
    gap: 1rem;
    margin-bottom: 1.5rem;
    &::before {
        content: '';
        position: absolute;
        top: -0.75rem;
        left: -0.75rem;
        right: -0.75rem;
        bottom: -0.75rem;
        z-index: -1;
        background-color: rgba(var(--bs-white-rgb), 0.08);
        border-radius: 1rem;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &-image {
        flex-shrink: 0;
        img {
            height: auto;
            aspect-ratio: 1;
        }
    }
    &-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
}